@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" href="~/Content/StyleCSS/main.css" />

<div class="container-fluid">
    <div class="hisConst d-flex flex-md-row flex-column">
        <div class="hisConst-img w-50">
            
        </div>
        <div class="hisBlock justify-content-center align-items-center w-50">
            <div class="hisBlock-inline m-5">
                <h3 class="hisBlock-inline-title text-start text-white mb-3">
                    Nhà hàng Nhật Bản Ugani<br /> Hành trình từ gốc rễ đến đỉnh cao ẩm thực
                </h3>
                <p class="hisBlock-inline-Cont text-white">
                    Nhà hàng Nhật Bản Ugani đã trở thành một điểm đến hàng đầu cho thực khách yêu thực phẩm Nhật Bản. Sự kết hợp hoàn hảo giữa truyền thống và sáng tạo đã tạo nên danh tiếng của Ugani. Không chỉ về ẩm thực, Ugani còn mang đến một bầu không gian sang trọng và thân thiện. Không gian trang nhã làm cho mỗi bữa ăn tại Ugani trở thành một trải nghiệm đáng nhớ. Với sứ mệnh mang đến cho khách hàng những trải nghiệm tốt nhất, Ugani đã trở thành biểu tượng của nền ẩm thực Nhật Bản và tiếp tục phát triển, luôn theo đuổi sự hoàn hảo và sáng tạo trong mỗi chi tiết. Ugani không chỉ là một nhà hàng, mà còn là một câu chuyện thành công về sự đam mê và phấn đấu để đạt tới đỉnh cao của ẩm thực Nhật Bản.
                </p>
            </div>
        </div>
    </div>
    <div class="list-item-introduce ">
        <div class="d-flex flex-row">
            <div class="d-flex flex-md-row flex-column gap-2">
                <img class="rounded-circle my-auto mx-auto" src="~/Content/photoHome/7c22075c-f2c7-444a-8c50-11a2db530e86.jpg" width="50%" height="50%" />
                <div class="my-auto mx-md-auto mx-5">
                    <h6 class="m-4">Thành Tựu Quốc Tế</h6>
                    <p style="text-align:justify;" class="m-4"> Ugani đã được vinh danh trong danh sách "Những nhà hàng sushi hàng đầu thế giới" của nhiều tạp chí và ấn phẩm ẩm thực uy tín. Điều này chứng tỏ sự công nhận toàn cầu về chất lượng và uy tín của nhà hàng.</p>
                </div>
            </div>
            <div class="d-flex flex-md-row flex-column gap-2">
                <img class="rounded-circle my-auto mx-auto" src="~/Content/photoHome/Japanese Foods.jpg" width="50%" height="50%" />
                <div class="my-auto mx-md-auto mx-5">
                    <h6 class="m-4">Sáng Tạo Trong Ẩm Thực</h6>
                    <p style="text-align:justify;" class="m-4">
                        Ugani luôn luôn tìm kiếm sự sáng tạo trong nghệ thuật sushi. Đầu bếp tại Ugani đã tạo ra nhiều món sushi độc đáo và phù hợp với khẩu vị đa dạng của khách hàng của mình.
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-md-row flex-column gap-2">
                <img class="rounded-circle my-auto mx-auto" src="~/Content/photoHome/8c3f6d17-be13-4d25-b29a-6596a936e135.jpg" width="50%" height="50%" />
                <div class="my-auto mx-md-auto mx-5">
                    <h6 class="m-4">Phát Triển Thương Hiệu</h6>
                    <p style="text-align:justify;" class="m-4">
                        Ugani đã mở rộng hệ thống nhà hàng và phân phối sản phẩm sushi đóng gói đến nhiều quốc gia trên thế giới. Điều này đã giúp thương hiệu Ugani trở thành một biểu tượng của ẩm thực Nhật Bản trên toàn cầu.
                    </p>
                </div>
            </div>
            <div class="d-flex flex-md-row flex-column gap-2">
                <img class="rounded-circle my-auto mx-auto" src="~/Content/photoHome/鬼灯 by ニーナ （ID：3620049）- 写真共有サイト_PHOTOHITO.jpg" width="50%" height="50%" />
                <div class="my-auto mx-md-auto mx-5">
                    <h6 class="m-4">Chăm Sóc Môi Trường</h6>
                    <p style="text-align:justify;" class="m-4">
                        Ugani cam kết bảo vệ môi trường và bền vững trong nguồn cung ứng hải sản. Họ đã tham gia vào các sáng kiến bảo vệ đại dương và sử dụng nguyên liệu tái chế.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="feedback d-flex flex-md-row flex-column gap-4">
        <div class="feedback-inline d-flex flex-md-row flex-column gap-2">
            <img class="feedback-inline-img rounded-circle m-auto" src="~/Content/imgfeedback/marco-xu-frpCC-A8mp0-unsplash.jpg" width="50%" height="50%" />
            <p class="feedback-inline-content mx-1 my-auto">
                Tôi và gia đình đã có trải nghiệm tuyệt vời tại Ugani. Những món sushi tại đây không chỉ ngon mà còn tinh tế đến từng chi tiết.
            </p>
        </div>
        <div class="d-flex flex-md-row flex-column gap-2">
            <img class="feedback-inline-img rounded-circle m-auto" src="~/Content/imgfeedback/jaunt-and-joy-ft2uNDDP0HU-unsplash.jpg" width="50%" height="50%" />
            <p class="feedback-inline-content m-1 my-auto">
                Ugani là nơi tôi đến để tìm lại hòa bình và thư giãn. Khi đến đây, tôi có cảm giác như đang tham gia vào một buổi biểu diễn nghệ thuật thực phẩm.
            </p>
        </div>
        <div class="d-flex flex-md-row flex-column gap-2">
            <img class="feedback-inline-img rounded-circle m-auto" src="~/Content/imgfeedback/brooke-cagle-nZp9JF-OyiE-unsplash.jpg" width="50%" height="50%" />
            <p class="feedback-inline-content mx-1 my-auto">
                Tôi đã đến đây nhiều lần và luôn bị ấn tượng bởi chất lượng của sushi và dịch vụ tận tâm. Mọi viên sushi đều được làm tỉ mỉ và tinh tế từ sự đam mê của đầu bếp.
            </p>
        </div>
        <div class="d-flex flex-md-row flex-column gap-2">
            <img class="feedback-inline-img rounded-circle m-auto" src="~/Content/imgfeedback/ha-nguy-n-bLpMy2UDnOc-unsplash.jpg" width="50%" height="50%" />
            <p class="feedback-inline-content mx-1 my-auto">
                Ugani không chỉ là một nhà hàng, mà còn là một trải nghiệm nghệ thuật. Tôi đã đến Ugani nhiều lần và lúc nào cũng phải khen ngợi chất lượng và sự sáng tạo của họ.
            </p>
        </div>
    </div>

</div>