@model Ugani_Restaurant.Models.HOADON

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<div>
    <h6>Bạn có muốn xóa quyền @Model.MAHD được đặt ngày @Model.NGAYLAPHD.Value.Date không?</h6>
</div>


