* {
    margin: 0;
    padding: 0;
}

@mixin aligncenter {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

.home {
    .row-one {
        width: 100%;
        height: 6in;
        margin: auto;

        .col-logo {
            @include aligncenter();
        }

        .col-img-1 {
            background-image: url('../photoHome/14 Best Restaurants In Iceland To Visit.jpg');
            background-attachment: fixed;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top right;
        }
    }

    .row-second {
        width: 100%;
        height: 6in;
        margin: auto;

        .box-img-2 {
            height: 100%;
            @include aligncenter();

            .img {
                width: 80%;
                height: 80%;

                img {
                    max-width: 100%;
                    height: 100%;
                }
            }
        }

        .box-content {
            height: 100%;
            @include aligncenter();
            background-color: rgb(15,158,162);

            .content {
                margin: 10% 10%;

                h3 {
                    text-align: left;
                    color: white;
                    margin-bottom: 30px;
                }

                p {
                    text-align: justify;
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }

    .row-three {
        width: 100%;
        height: 6in;
        margin: auto;

        .box-img-3 {
            height: 100%;
            @include aligncenter();

            .img {
                width: 80%;
                height: 80%;

                img {
                    max-width: 100%;
                    height: 100%;
                    padding: 5px 0px;
                }
            }
        }

        .box-content {
            height: 100%;
            @include aligncenter();
            background-color: rgb(15,158,162);

            .content {
                margin: 10% 10%;

                h3 {
                    text-align: left;
                    color: white;
                    margin-left: 30px;
                    margin-bottom: 30px;
                }

                ul {
                    li {
                        text-align: justify;
                        color: white;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .row-four {
        width: 100%;
        height: 6in;
        margin: auto;

        .box-img-3 {
            height: 100%;
            @include aligncenter();

            .img {
                width: 80%;
                height: 80%;

                img {
                    max-width: 100%;
                    height: 100%;
                    padding: 5px 0px;
                }
            }
        }

        .box-content {
            height: 100%;
            @include aligncenter();

            .content {
                margin: 10% 10%;

                h3 {
                    text-align: left;
                    color: black;
                    margin-left: 30px;
                    margin-bottom: 30px;
                }

                ul {
                    li {
                        text-align: justify;
                        color: black;
                        list-style: none;
                        font-size: 20px;
                    }

                    .date {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
//Home Design

.body-login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #loginForm {
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;



        .form-horizontal {
            width: 80%;
            height: auto;
            border: 2px solid rgb(15,158,162);
            border-radius: 40px;
            padding: 30px;
            position: relative;

            h2 {
                color: rgb(15,158,162);
                position: absolute;
                top: -25;
                background-color: white;
                padding: 0 5px;
            }

            .form-group {
                margin: 15px 0;

                .control-label {
                    color: rgb(76,76,76);
                    margin-bottom: 10px;
                }

                .form-control:focus {
                    box-shadow: none
                }

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    li {
                        display: inline;
                        list-style: none;
                        margin: 0 10px;

                        label {
                            color: rgb(76,76,76);
                        }

                        a {
                            text-decoration: none;
                            color: rgb(76,76,76);
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .btnLogin {
                    display: flex;
                    margin: auto;
                    font-weight: 500;
                    padding: 0 20px;
                    height: 40px;
                    border-radius: 40px;
                    background-color: rgb(15,158,162);
                    color: white;
                    font-size: 20px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}

.body-register {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #registerForm {
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;



        .form-horizontal {
            width: 80%;
            height: auto;
            border: 2px solid rgb(15,158,162);
            border-radius: 40px;
            padding: 30px;
            position: relative;

            h2 {
                color: rgb(15,158,162);
                position: absolute;
                top: -25;
                background-color: white;
                padding: 0 5px;
            }

            .form-group {
                margin: 15px 0;

                .control-label {
                    color: rgb(76,76,76);
                    margin-bottom: 10px;
                }

                .form-control:focus {
                    box-shadow: none
                }

                .btnRegister {
                    display: flex;
                    margin: auto;
                    font-weight: 500;
                    padding: 0 20px;
                    height: 40px;
                    border-radius: 40px;
                    background-color: rgb(15,158,162);
                    color: white;
                    font-size: 20px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}

/*Booking*/

.body-booking {
    .list-btn {
        height:450px;
        .btn-imgAreas {
            background-size: cover;
            width:100%;
            height:100%;
            border: none; /* Loại bỏ đường viền */
            cursor: pointer; /* Biến con trỏ thành con trỏ bấm */
        }
        .btn-imgAreas:hover{
            background-color:gray;
            opacity: 0.8;
        }
    }
}

/*About*/
.container-fluid {
    .hisConst {
        .hisBlock {
            background-color: rgb(15,158,162);

            .hisBlock-inline {
                .hisBlock-inline-Cont {
                    font-size: 20px;
                    text-align: justify;
                }
            }
        }
    }

    .feedback {
        .feedback-inline {
            margin: 0 20px;
            .feedback-inline-content{
                text-align:justify;
            }
        }
    }
}

/*BookingFoods*/
/*.cf-header {
    border-bottom: solid 1px rgb(15,158,162);
    height: 40px;

    .cf-left-title {
        width: auto;
        background: rgb(15,158,162);
        color: #fff;
        line-height: 42px;
        font-size: 18px;
        position: relative;
    }

    .cf-left-title:after {
        border: 21px solid transparent;
        border-left-color: rgb(15,158,162);
        border-bottom-color: rgb(15,158,162);
        position: absolute;
        top: 0;
        left: 100%;
        content: "";
    }

    .pull-left {
        float: left;
        margin-left: 0 !important;
    }
}



.list-food {
    .col-3 {
        margin: 5px 0px;
        height: 440px;

        .card {
            margin: 10px 0px;
            height: 440px;

            img {
                width: 100%;
                height: 310px;
                object-fit: cover;
            }

            .card-body {
                h4 {
                    color: rgb(15,158,162);
                    font-weight: 300px;
                }

                .btnAdd {
                    margin: 10px 0;
                    font-size: 18px;
                    color: white;
                    background: rgb(15,158,162);
                }
            }
        }
    }
}*/

/*About*/

.hisConst-img {
    background-image: url('../photoHome/BLESS Restaurant Hamburg.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
}



.list-fooditem {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Giới hạn 3 phần tử mỗi hàng */
    gap: 10px; /* Khoảng cách giữa các phần tử */

    .wrapper {
        width: 300px;
        height: 500px;
        background: white;
        margin: auto;
        position: relative;
        overflow: hidden;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0;
        transform: scale(0.95);
        transition: box-shadow 0.5s, transform 0.5s;

        &:hover {
            //transform: scale(0.5);
            box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
        }

        .food-item {
            width: 100%;
            height: 100%;

            .top {
                height: 75%;
                width: 100%;
                background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                -o-background-size: 100%;
                background-size: 100%;
            }

            .bottom {
                width: 200%;
                height: 25%;
                transition: transform 0.5s;

                &.clicked {
                    transform: translateX(-50%);
                }

                h1 {
                    margin: 0;
                    padding: 0;
                }

                p {
                    margin: 0;
                    padding: 0;
                }

                .left {
                    height: 100%;
                    width: 50%;
                    background: #f4f4f4;
                    position: relative;
                    float: left;

                    .details {
                        padding: 10px;
                        float: left;
                        width: calc(70%);
                    }

                    .buy {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        float: right;
                        width: calc(30% - 2px);
                        height: 100%;
                        background: #f1f1f1;
                        transition: background 0.5s;
                        border-left: solid thin rgba(0, 0, 0, 0.1);

                        i {
                            font-size: 30px;
                            padding: 30px;
                            color: #254053;
                            transition: transform 0.5s;
                        }

                        &:hover {
                            background: #a6cdde;
                        }

                        &:hover i {
                            transform: translateY(5px);
                            color: #00394b;
                        }
                    }
                }

                .right {
                    width: 50%;
                    background: #a6cdde;
                    color: white;
                    float: right;
                    height: 200%;
                    overflow: hidden;

                    .details {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        float: right;
                        width: calc(70%);
                        height: 50%;
                    }

                    .done {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: calc(30% - 2px);
                        float: left;
                        transition: transform 0.5s;
                        border-right: solid thin rgba(255, 255, 255, 0.3);
                        height: 50%;

                        i {
                            font-size: 30px;
                            padding: 30px;
                            color: white;
                        }
                    }

                    .remove {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: calc(30% - 1px);
                        clear: both;
                        border-right: solid thin rgba(255, 255, 255, 0.3);
                        height: 50%;
                        background: #bc3b59;
                        transition: transform 0.5s, background 0.5s;

                        &:hover {
                            background: #9b2847;
                        }

                        &:hover i {
                            transform: translateY(5px);
                        }

                        i {
                            transition: transform 0.5s;
                            font-size: 30px;
                            padding: 30px;
                            color: white;
                        }
                    }

                    &:hover {
                        .remove,
                        .done {
                            transform: translateY(-100%);
                        }
                    }
                }
            }
        }

        .inside {
            z-index: 9;
            background: #92879b;
            width: 140px;
            height: 140px;
            position: absolute;
            top: -70px;
            right: -70px;
            border-radius: 0px 0px 200px 200px;
            transition: all 0.5s, border-radius 2s, top 1s;
            overflow: hidden;

            .icon {
                position: absolute;
                right: 85px;
                top: 85px;
                color: white;
                opacity: 1;
            }

            &:hover {
                width: 100%;
                right: 0;
                top: 0;
                border-radius: 0;
                height: 80%;

                .icon {
                    opacity: 0;
                    right: 15px;
                    top: 15px;
                }

                .contents {
                    opacity: 1;
                    transform: scale(1);
                    transform: translateY(0);
                }
            }

            .contents {
                padding: 5%;
                opacity: 0;
                transform: scale(0.5);
                transform: translateY(-200%);
                transition: opacity 0.2s, transform 0.8s;

                table {
                    text-align: left;
                    width: 100%;
                }

                h1,
                p,
                table {
                    color: white;
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }
}

// year picker styling

input[type=number],
select {
    border: solid 1px #757575;
    font: inherit;
    padding: .25em;

    &:invalid {
        background-color: #fee;
        border-color: #c00;
        color: #c00;
    }
}

.range-container {
    margin-bottom: 1em;
    position: relative;
    width: 200px;

    input[type=range] {
        position: relative;
        width: 80%;
    }

    output {
        margin-left: 5px;
        font-family: sans-serif;
        position: absolute;
    }
}

.digits-container {
    white-space: nowrap;

    input[type=number] {
        text-align: center;
        width: 1.5em;
    }

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

// general pen styling

html {
    background-color: #def;
    font-family: sans-serif;
    height: 100vh;
}

h2 {
    color: #abc;
    font-size: 2em;
    margin: .25em .25em 0 .25em;
    text-align: center;
}

h3 {
    border-bottom: solid 1px #ccc;
    margin: 0;
    padding-bottom: .25em;
}

.year-pickers {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

section {
    background-color: #fff;
    flex: 1 1 200px;
    margin: .5em;
    padding: 1em;
}

aside {
    bottom: 1em;
    font-size: .75em;
    position: absolute;
    right: 1em;
}

/*Booking*/
.body-booking {
    .d-flex {
        .d-flex {
            #datepicker, #startTime, #endTime, #note {
                border-radius: 5px;
            }
        }
    }

    #submitBooking {
        border-radius: 5px;
    }
}

